.card {
  max-width: 25%;
  margin: 10px;
}
.mainBody {
  background-color: rgb(208, 221, 214);
}
.list-group-item {
  font-size: clamp(5px, 1vw, 1rem);
}

.card-link {
  font-size: clamp(5px, 1vw, 15px);
}
