.footer {
  width: 100%;
  display: flex;
  background-color: transparent;
}
.footerContain {
  display: flex;
  justify-content: center;
  font-size: larger;
}

#footerLogo {
  height: 100px;
  width: 100px;
}
