.footer {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.footerContain {
  display: flex;
  align-items: center;
  font-size: clamp(5px, 1.5vw, 20px);
}

#footerLogo {
  height: 100px;
  width: 100px;
}
