.footer {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 146, 90, 0.363);
}
.footerContain {
    display: flex;
    justify-content: center;
}