.media {
  margin-right: clamp(1rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
hr {
  height: 4px;
  background: rgb(21, 223, 21);
}

.media-bottom {
  display: flex;
  justify-content: center;
  margin: clamp(0.5em, 5vw, 5em);
}
.boldList {
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
.contactInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: clamp(0.25rem, 1vw, 1rem);
}
p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.25rem, 1vw, 1rem);
}
h5 {
  font-family: "Merienda", cursive;
  font-size: clamp(5px, 2vw, 20px);
}
h6 {
  font-family: "Merienda", cursive;
  font-size: clamp(5px, 2vw, 15px);
}
#badge {
  height: clamp(10rem, 15vw, 400px);
  width: clamp(10rem, 15vw, 400px);
}
