.media {
  margin-top: 20%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .row {
  margin-top: 10px;
} */
hr {
  height: 4px;
  background: black;
}
.media-body {
  margin-top: 5%;
}
.media-bottom {
  display: flex;
  justify-content: center;
}
.boldList {
  font-weight: bolder;
}
.contactInfo {
  display: flex;
  justify-content: space-evenly;
}
