.background-image {
  height: 100vh;
  background-color: #4a4a48 !important;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageScene{
  z-index: 0;
  height: clamp(30.96vh, 65.79vh, 73.53vh ) !important;
  width: clamp(20.83vw, 44.27vw, 49.48vw )  !important;
  margin-left: 2vw; 
  margin-top: 10vh;

}
.landingPageText{
  padding-left: 2vw;
  margin-top: 25vh;
}
.welcome{
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.5rem, 3.5vw, 4em);
}
.moveBtn{
  margin-top: 23vh;
  font-family: 'Roboto', sans-serif;
}
#learnMore {
  background-color:rgb(163, 91, 50);
  margin-left: 5vw;
}