.navigationBar {
  height: clamp(1rem, 15vh, 400px);
  margin: 0;
  background-color: #4a4a48 !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-brand {
  height: clamp(1rem, 2vw, 200px);
  width: clamp(1rem, 2vw, 150px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbarNav {
  display: flex;
  align-items: center;
}
#homePage {
  width: clamp(100px, 35vw, 197px);
}
#portfolioPage {
  width: clamp(100px, 35vw, 200px);
}
.nextNavLi{
  justify-self: flex-end;
}
