.navigationBar {
  width: 100%;
  height: clamp(1rem, 8vh, 400px);
  margin: clamp(0.25rem, 3vh, 50px);
  background-color: transparent !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-brand {
  height: clamp(1rem, 2vw, 200px);
  width: clamp(1rem, 2vw, 150px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navbarNav {
  height: clamp(0.5rem, 2vw, 200px);
  width: clamp(0.5rem, 2vw, 150px);
  display: flex;
  align-items: center;
}
#homePage {
  height: clamp(2rem, 7vh, 67px);
  width: clamp(4rem, 11vw, 197px);
}
#portfolioPage {
  height: clamp(2rem, 5vh, 48px);
  width: clamp(5rem, 10vw, 200px);
}
/* height: 200px;
width: 150px; */
